

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cardBlock{
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBlock h3 {
  color: #00517c;
  text-transform: uppercase;
  background: #ffffff;
  font-size: 22px;
}

.cardBlock > div{
  width: 100%;
}

.cardBlockBordered{
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  border: 3px solid #0092bd;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBlockBordered h3 {
  color: #00517c;
  text-transform: uppercase;
  background: #ffffff;
}

.cardBlock .cardBlockHeader {
  margin: -35px 0 10px 0;
  padding: 0 20px;
  text-align: center;
  width: fit-content;
}

.cardBlockHeader h3 {
  margin: 0 0 10px 0;
  padding: 0 20px;
  border-radius: 20px;
}

.cardBlockHeaderDescription {
  font-size: 12px;
  margin: 0 auto;
  max-width: 250px;
}

.product{
  display: flex;
  justify-content: space-between;
  color: #00517c;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #d8d6d6;
}

.productName{
  width: 70%;
  font-size: 14px;
}

.price{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  height: 16px;
  display: flex;
  align-self: center;
  font-weight: bold;
}

.productDescription{
  font-weight: normal;
  font-size: 12px;
}

.filled{
  border: none;
  background: #f2e7e2;
  border-radius: 30px;
}

.filled.blue{
  background: #e4eaf0;
}

.filled .cardBlockHeader {
  margin: -22px 0 10px 0;
}

.filled .cardBlockHeader h3{
  border-radius: 0 0 20px 20px;
}

.additionals{
  display: flex;
  align-items: center;
  background: #e4eaf0;
  border-radius: 30px;
  padding: 10px;
}

.additionals > div {
  display: flex;
  padding: 0 5px;
}

.additionalsCategory h3{
  color: #00517c;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  white-space: nowrap;
}

.additionalsCategory > div{
  display: flex;
  padding: 0 5px;
  flex-direction: column;
}

.additionalsHeader{
  text-transform: uppercase;
  color: #00517c;
  font-size: 22px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

